{{#if errors}}
  <div class="field-errors">
    {{#each errors}}
      {{#if present}}
        <div class="message">
          {{message}}
        </div>
      {{/if}}
    {{/each}}
  </div>
{{/if}}
{{yield}}
