#upper-area #website-name {
  font-size: 60px;
  font-weight: bold;
}

.black-link{
  color: #444;
  font-size: 16px;
  margin: 0 20px;
  text-decoration: none;
}
.black-link:hover{
  text-decoration: underline;
}
.black-link-ul {
  color: #444;
  text-decoration: underline;
  font-size: 19px;
}
.black-link-ul.active {
  text-decoration: none;
  color: #c0c0c0;
}
.black-link.active {
  color: #c0c0c0;
}
.button-green {
  font-size: 16px;
  color: #fff;
  text-decoration: none;
  border: 1px solid #2e6c00;
  background: #4cb600;
  padding: 10px;
  font-weight: bold;
}
.button-green.small {
  padding: 3px;
  height: 28px;
}
.button-green[disabled] {
  border: 1px solid #666963;
  background: #aeb3aa;
  cursor: default;
}
.button-green.right {
  float: right;
}
.button-blue {
  text-decoration: none;
  font-weight: bold;
  font-size: 16px;
  padding: 10px;
  border: 1px solid #002533;
  border-radius: 3px;
  background: linear-gradient(to top, #0083b3, #008fcc);
  color: #fff;
}
.button-blue.active {
  border-color: #002533;
  background: linear-gradient(to top, #8fa9b3, #a3c0cc);
}
.button-wide {
  width: 150px;
  font-weight: bold;
}
.white-link {
  text-decoration: none;
  font-weight: bold;
  color: #fff;
}
.white-link:hover {
  text-decoration: underline;
}
#submenu a {
  display: block;
  color: inherit;
  text-decoration: underline;
}
#submenu a.active {
  text-decoration: none;
  color: #7b7b7b;
}

.titled-box.menu .link {
  border-bottom: 1px solid #e0e0e0;
  display: block;
  padding: 15px;
  text-decoration: none;
  color: inherit;
}
.titled-box.menu .link:hover {
  text-decoration: underline;
}
.titled-box.menu .link:last-child {
  border: none;
}
.titled-box.menu .link.active:hover {
  text-decoration: none;
}
.titled-box.menu .link.active {
  color: #979797;
  cursor: default;
}
.breadcrumb {
  display: none;
}
.breadcrumb.active {
  font-size: 14px;
  display: inline;
  text-decoration: none;
  color: #444;
}
.breadcrumb.active:before {
  content: '> ';
  font-size: 14px;
}