#upper-area #website-name {
  font-size: 60px;
  font-weight: bold;
}

.black-link{
  color: #444;
  font-size: 16px;
  margin: 0 20px;
  text-decoration: none;
}
.black-link:hover{
  text-decoration: underline;
}
.black-link-ul {
  color: #444;
  text-decoration: underline;
  font-size: 19px;
}

.button-green {
  font-size: 16px;
  color: #fff;
  text-decoration: none;
  border: 1px solid #2e6c00;
  background: #4cb600;
  border-radius: 3px;
  padding: 10px;
  font-weight: bold;
}
.button-green.small {
  padding: 3px;
}
.button-green[disabled] {
  border: 1px solid #666963;
  background: #aeb3aa;
  cursor: default;
}
.button-blue {
  text-decoration: none;
  font-weight: bold;
  font-size: 16px;
  padding: 10px;
  border: 1px solid #002533;
  border-radius: 3px;
  background: linear-gradient(to top, #0083b3, #008fcc);
  color: #fff;
}
.button-blue.active {
  border-color: #002533;
  background: linear-gradient(to top, #8fa9b3, #a3c0cc);
}
.button-wide {
  width: 150px;
  font-weight: bold;
}
.white-link {
  text-decoration: none;
  font-weight: bold;
  color: #fff;
}
.white-link:hover {
  text-decoration: underline;
}
#submenu a {
  display: block;
  color: inherit;
  text-decoration: underline;
}
#submenu a.active {
  text-decoration: none;
  color: #7b7b7b;
}