.black-link {
  color: inherit;
  text-decoration: none;
  margin: 0 10px;
}
.black-link.active {
  text-decoration: underline;
}

.white-button {
  font-size: inherit;
  color: inherit;
  text-decoration: none;
  margin: 0 10px;
  padding: 10px;
  background: #fff;
  border: 1px solid #c0c0c0;
  border-radius: 3px;
}
.white-button.active {
  background: #cccccc;
  border: 1px solid #8c8c8c;
}

.green-button {
  font-size: inherit;
  padding: 10px;
  background: linear-gradient(to top, #40a120, #3ab70e);
  text-decoration: none;
  color: #fff;
  border: 1px solid #2b800a;
  border-radius: 3px;
  margin: 0 10px;
}
.green-button.active {
  background: linear-gradient(to top, #a1a1a1, #a3b39d);
  color: #fff;
  border: 1px solid #758070;
}
.green-button:last-child {
  margin-right: 0;
}

form.large button {
  font-size: inherit;
  padding: 6px;
  background: linear-gradient(to top, #40a120, #3ab70e);
  text-decoration: none;
  color: #fff;
  border: 1px solid #2b800a;
  border-radius: 3px;
  margin: 5px 0;
  float: right;
}