#upper-area #website-description {
  position: relative;
  top: -10px;
  margin-left: 20px;
  font-size: 19px;
}
#home-middle #sign-up #message{
  font-size: 19px;
  color: #fff;
  margin-bottom: 30px;
  line-height: 30px;
}
h1 {
  margin-top: 40px;
  font-size: 56px;
}
#footer #author {
  float:right;
  margin-right: 20px;
}
#submenu #title {
  font-size: 19px;
  font-weight: bold;
  margin-bottom: 10px;
}
#submenu-content #page-title {
  font-size: 35px;
  margin-bottom: 20px;
  font-weight: bold;
}
.subtle {
  color: #c0c0c0;
  font-size: 18px;
}
#schedule-lession-list .day {
  font-weight: bold;
  display: inline-block;
  width: 100px;
}
.warning {
  color: #e31700;
  font-weight: bold;
  font-size: 19px;
  line-height: 2;
  margin: 20px 0;
}