<form class="form2" action="">
  <div id="page-title">Change Password</div>
  <input type="text" placeholder="Old Password"/><br>
  <input type="text" placeholder="New Password"/>
  <input type="text" placeholder="Repeat new Password"/>
  <button class="button-green button-wide">Change Password</button>
</form>