<div class="titled-box">
  <div class="title">Change Password</div>
  <div class="content">
    <form class="form2" action="">
      <input type="text" placeholder="Old Password"/><br>
      <input type="text" placeholder="New Password"/>
      <input type="text" placeholder="Repeat new Password"/>
      <button class="button-green button-wide">Change Password</button>
    </form>
  </div>
</div>