<div class="titled-box">
  <div class="title">Delete Account</div>
  <div class="content">
    <form class="form-1" action="">
      <div class="message">
        <b>WARNING:</b> This action cannot be undone.<br>
        If you are absolutely certain, please type "DELETE" in the field below.
      </div>
      {{input type="textfield" value=confirmDelete id="confirmDelete" placeholder="DELETE"}}
      <button class="button-red">Delete this Account</button>
    </form>
  </div>
</div>
