<div class="centerer">
  <h1>Finalize Schedule</h1>
  {{#link-to 'student.change-schedule' class='button-green small'}}Back{{/link-to}}<br><br>
  <div class="subtle">
    Your Tutor was <a class="black-link-ul" href="/tutors#komensky1@komensky.net">Kamel Suleiman</a>
    <ul id="schedule-lession-list">
      <li><span class="day">Monday</span> 9:00 - 10:00</li>
      <li><span class="day">Tuesday</span> 9:00 - 10:00</li>
    </ul>
  </div>
  Your Tutor will be <a class="black-link-ul" href="/tutors#komensky1@komensky.net">Kamel Suleiman</a>
  <ul id="schedule-lession-list">
    <li><span class="day">Monday</span> 9:00 - 10:00</li>
    <li><span class="day">Tuesday</span> 9:00 - 10:00</li>
  </ul>
  <!-- only show this if they don't have a schedule already -->
  <div class="warning">You already have and existing schedule.<br>
    This new schedule will replace the old one.
  </div><br>
  <a class="button-green" href="">Finalize</a>
</div>