<div class="centerer">
  <h1> Schedule</h1>
  Your current Tutor is <a class="black-link-ul" href="/tutors#komensky1@komensky.net">Kamel Suleiman</a>
  <h2>Weekly Tutoring Sessions</h2>
  <ul id="schedule-lession-list">
    <li><span class="day">Monday</span> 9:00 - 10:00</li>
    <li><span class="day">Tuesday</span> 9:00 - 10:00</li>
  </ul><br>
  {{#link-to 'student.change-schedule' class='button-green'}}Change Schedule{{/link-to}}
</div>