<div class="heading-bar">
  <span class="label" title="Tutoring Hours">Remaining Credits:</span>
  <span class="value">5</span>
  {{input class="search" type="textfield" value=headingBarSearch id="headingBarSearch" placeholder="Search Tutors"}}
</div>
<div class="partition">
  <div class="one-third">
    <div class="titled-box">
      <div class="title">Weekly Tutoring Hours</div>
      <div class="content scheduled-hours">
        <div class="hour">
          <div class="img-container">
            <img src="/images/kamal.png" alt="Kamal"/>
          </div>
          <div class="text">
            <div class="day">Monday</div>
            <div class="time-range">13:00 - 14:00</div>
            <div class="time-remaining">Starts in 1 Day</div>
          </div>
          <div class="remove">X</div>
        </div>
      </div>
    </div>
  </div>
  <div class="two-thirds tutor-hour-selection">
    <div class="tutor">
      <div class="img-container">
        <img src="/images/kamal.png" alt="Kamal"/>
      </div>
      <div class="text">
        <div class="tutor-name">
          Kamal Suleiman
        </div>
        <div class="skype">Skype: kamal@komensky.org</div>
        <div class="days-available">
          <span class="selected-day-title">
            <a class="day">All</a> (5)
          </span>
          <span>
            <a class="day">Monday</a> (5)
          </span>
          <span>
            <a class="day">Tuesday</a> (5)
          </span>
        </div>
        <table cellspacing="0" class="selected-day">
          <tr class="available-hour">
            <td>Monday</td>
            <td>13:00 - 14:00</td>
            <td class="add-to-schedule">Add to Schedule</td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>