{{#link-to 'student.schedule.overview.history' class='black-link'}}Schedule{{/link-to}}
{{#link-to 'student.account.change-password' class='black-link'}}Account Dashboard{{/link-to}}
<a class="button-green" href="/node/sign-out">Sign Out</a>