{{#link-to 'student.index' class='black-link'}}Schedule{{/link-to}}
{{#link-to 'student.account.change-password' class='black-link'}}Change Password{{/link-to}}
<a class="button-green" href="/node/sign-out">Sign Out</a>