<div class="partition">
  <div class="one-third simple-menu">
    <div class="title">Account Dashboard</div>
    {{outlet accountMenu}}
  </div>
  <div class="two-thirds">
    {{outlet accountDashboard}}
  </div>
</div>