<div class="titled-box">
  <div class="title">Change Password</div>
  <div class="content">
    <form class="form-1" action="">
      {{input type="password" value=oldPassword id="oldPassword" placeholder="Old password"}}
      <br>
      {{input type="password" value=newPassword id="newPassword" placeholder="New password"}}
      {{input type="password" value=repeatNewPassword id="repeatNewPassword" placeholder="Repeat new password"}}
      <button class="button-blue">Change Password</button>
    </form>
  </div>
</div>