<form class="form2 centerer" action="">
  <h1>Password Recovery</h1>
  <input type="text" placeholder="Email Address"/><br>
  <button class="button-green button-wide">Send me a Reset Link</button>
</form>