<form class="form2 centerer " action="">
  <h1>Password Reset</h1>
  <input type="password" placeholder="Password"/>
  <input type="password" placeholder="Repeat Password"/>
  <button class="button-green button-wide">Reset Password</button>
</form>