<form class="form2 centerer" action="">
  <h1>Privileged Sign Up</h1>
  <select disabled>
    <option value="">Tutor</option>
    <option value="">Tutor + Admin</option>
  </select>
  <input type="text" placeholder="Full Name"/>
  <input type="text" placeholder="Email Address"/>
  <input type="text" placeholder="Password"/>
  <input type="text" placeholder="Repeat Password"/>
  <button class="button-green button-wide">Sign Up</button>
</form>