<form class="form2 centerer " action="">
  <h1>Sign In</h1>
  {{#link-to 'guest.password-recovery' class='black-link-ul'}}I forgot my Password{{/link-to}}<br><br>
  <input type="text" placeholder="Email Address"/>
  <input type="text" placeholder="Password"/>
  <button class="button-green button-wide">Sign In</button>
</form>