<form class="form2 centerer " action="">
  <h1>Sign In</h1>
  <a class="black-link-ul" href="">I forgot my Password</a><br><br>
  <input type="text" placeholder="Email Address"/><br>
  <input type="text" placeholder="Password"/><br>
  <button class="button-green button-wide">Sign In</button>
</form>