<div class="centerer">
  <h1 id="courses">Tutors</h1>
  <div class="tutor-list">
    <div class="tutor">
      <img src="/images/kamal_cropped.png" alt=""/>
      <div class="text">
        <h2>Kamal Suleiman</h2>
        A native Jordanian holding a degree in navigation which enabled him to travel to many countries in Europe, North and South America, Africa, Far East and the Mediterranean.
      </div>
    </div>
    <div class="tutor">
      <img src="/images/kamal_cropped.png" alt=""/>
      <div class="text">
        <h2>Kamal Suleiman</h2>A native Jordanian holding a degree in navigation which enabled him to travel to many countries in Europe, North and South America, Africa, Far East and the Mediterranean. His multicultural experience includes the position of the second officer on a ship with 180 people from more than 40 different cultures, almost a decade of work in Yemen where he held the position in a multicultural hospital as public relations officer and assistant hospital manager and also worked in development in the areas of health, education, agriculture, relief and water management.
      </div>
    </div>
    <div class="tutor">
      <img src="/images/kamal_cropped.png" alt=""/>
      <div class="text">
        <h2>Kamal Suleiman</h2>
        A native Jordanian holding a degree in navigation which enabled him to travel to many countries in Europe, North and South America, Africa, Far East and the Mediterranean.
      </div>
    </div>
  </div>
</div>