<div class="upper-area">
      <span id="website-title">
        eLingua
        <span id="right-area">
          {{#link-to 'schedule' class="black-link"}}Home{{/link-to}}
          {{#if signedIn}}
            <button class="white-button" {{action "signOut" on="click"}}>Sign Out</button>
          {{else}}
            {{#link-to 'sign-up' class="white-button"}}Sign Up{{/link-to}}
            {{#link-to 'sign-in' class="green-button"}}Sign In{{/link-to}}
          {{/if}}
        </span>
      </span>
</div>
<div id="main-content">
  {{outlet}}
</div>