<form class="large" {{action "signIn" on="submit"}}>
  <h1>Sign In</h1>
  {{input value=form.fields.name type="email" placeholder="Email Address"}}<br>
  {{input value=form.fields.password type="password" placeholder="Password"}}<br>
  <div class="response-message-area" >{{responseMessage}}</div>
  <button class="green-button" type="submit">Sign In</button>
</form>