<div class="partition">
  <div class="one-third simple-menu">
    <div class="title">Ways to Login</div>
    <a class="option" {{action 'facebookLogin'}}>Facebook</a>
    <a class="option" {{action 'googleLogin'}}>Google</a>
    <a class="option active">eLingua</a>
  </div>
  <div class="two-thirds">
    {{outlet}}
  </div>
</div>
