<div class="titled-box">
  <div class="title">Filter</div>
  <div class="content">
    {{input type="textfield" class="input-1" value=filterName id="filterName" placeholder="Name"}}
    <select name="" id="" class="input-1">
      <option value="">Monday</option>
    </select>
    <b>
      {{input type="textfield" class="input-1 time-range" value=filterStartingTime id="filterStartingTime" placeholder="00"}}
      :00
    </b>
    <span class="time-range-label">to</span>
    <b>
      {{input type="textfield" class="input-1 time-range" value=filterEndingTime id="filterEndingTime" placeholder="00"}}
      :00
    </b>
  </div>
</div>
