$nav-margin: 0 15px;

@mixin button($main-color) {
  background: $main-color;
  border: 1px solid darken($main-color, 25%);
  color: #fff;
  cursor: pointer;
  font-size: 18px;
  padding: 6px;
  text-decoration: none;
  font-variant: uppercase;
  &.button-large {
    padding: 10px;
  }
  &.disabled,
  &.active {
    $active-main-color: lighten(desaturate($main-color, 30%), 20%);
    background: $active-main-color;
    border: 1px solid darken($active-main-color, 25%);
    cursor: default;
  }
}

.button-blue {
  @include button(#0069ff);
}

.button-green {
  @include button(#16b600);
}

.button-red {
  @include button(#ff2300);
}

.button-grey {
  @include button(#ddd);
  color: #333;
}

.link-black {
  text-decoration: underline;
  color: #333;
  margin: $nav-margin;

  &.active {
    color: #999;
    cursor: default;
    text-decoration: none;
  }
}
