$page-width: 920px;
$background-color: #eee;
$border-color: #bbb;

body {
  background: #fff;
  color: #333;
  font-family: "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, sans-serif;
  font-size: 18px;
  margin: 0 auto;
  padding: 40px;
  width: $page-width;
}

.upper-bar {
  margin-bottom: 50px;

  .website-name {
    font-size: 45px;
  }
  .right {
    float: right;
    line-height: 60px;
  }
}

.heading-bar {
  font-size: 25px;
  line-height: 50px;
  margin-bottom: 45px;
  overflow: auto;

  .label {
    margin-right: 10px;
  }
  .value {
    font-weight: bold;
  }
  .search {
    border: 1px solid $border-color;
    font-size: 20px;
    float: right;
    padding: 10px;
  }
}

$part-one-third-width: 300px;

.partition {
  overflow: auto;

  .one-third {
    float: left;
    width: $part-one-third-width;

    .form-1 {
      width: 100%;
    }
  }
  .two-thirds {
    float: right;
    width: 600px;
  }
}

.titled-box {
  $titled-box-padding: 12px;
  border: 1px solid $border-color;
  box-sizing: border-box;
  margin-bottom: 20px;
  width: 100%;

  .title {
    background: $background-color;
    border-bottom: 1px solid $border-color;
    font-size: 20px;
    padding: $titled-box-padding;
  }
  .content {
    padding: $titled-box-padding;
  }
}

.scheduled-hours {
  .hour {
    overflow: auto;
    padding: 5px;
    margin-bottom: 15px;
    position: relative;

    &:last-of-type {
      margin-bottom: 0;
    }
    .text {
      font-size: 16px;
      .datetime {
        font-weight: bold;
      }
      .time-remaining {
        color: #888;
        font-weight: bold;
      }
      .email {
        font-size: 14px;
        font-weight: bold;
        margin-top: 8px;
      }
    }
    .remove {
      background: #dd3800;
      color: #fff;
      cursor: pointer;
      float: right;
      font-size: 15px;
      font-weight: bold;
      padding: 3px;
      position: absolute;
      right: 10px;
      text-align: center;
      top: 25px;
      width: 18px;
    }
    &:nth-child(odd) {
      background: #e7e7e7;
    }
  }
}

.student-session-periods {

}

.simple-menu {
  .title {
    display: inline-block;
    font-size: 19px;
    font-weight: bold;
    border-bottom: 1px solid $border-color;
    padding: 13px 0;
    margin-bottom: 15px;
  }
  .option {
    color: inherit;
    cursor: pointer;
    display: block;
    margin: 10px 0;
    text-decoration: underline;

    &.active {
      color: #999999;
      cursor: default;
      text-decoration: none;
    }
  }
}

.form-1 {
  width: 100%;

  input,
  select {
    box-sizing: border-box;
    border: 1px solid $border-color;
    background: #fff;
    display: block;
    font: inherit;
    margin-bottom: 15px;
    max-width: 350px;
    padding: 10px;
    width: 100%;

    &.time-range {
      display: inline-block;
      text-align: center;
      width: 63px;
    }
    &.halved {
      display: inline-block;
      width: 50%;
      &:last-of-type {
        margin-bottom: 0 !important;
      }
    }
  }
  .time-range-label {
    display: inline-block;
    margin: 0 9px;
  }
  .message-next-line {
    margin-top: 20px;
    white-space: nowrap;
  }
  .message {
    line-height: 2;
    margin-bottom: 10px;
  }
  .text {
    margin-bottom: 10px;
  }
}

.tutors-available-hours {
  .hour {
    height: 70px;
    padding: 20px;
    overflow: hidden;
    position: relative;
    background: #f4f4f4;

    &:nth-child(even) {
      background: #e7e7e7;
    }
    &.empty {
      color: #bbb;
      font-weight: normal;
    }

    .student-name {
      font-size: 23px;
      font-weight: bold;
    }
    .hour-range {
      margin-top: 10px;
      font-weight: bold;
      font-size: 23px;
    }
    .email {
      font-size: 16px;
      color: #999999;
      margin-bottom: 5px;
    }
    .begins-in {
      color: #777;
      font-size: 16px;
      margin-bottom: 10px;
    }
    .right {
      position: absolute;
      right: 20px;
      top: 20px;
      button {
        float: right;
      }
    }
  }
}

.user-list {
  width: 100%;
  tr {
    &:nth-child(odd) {
      background: #e7e7e7;
    }
    td {
      text-align: center;
      padding: 10px;

      .email {
        font-size: 16px;
      }
    }
  }
}

.field-validated {
  box-sizing: border-box;
  color: #0069ff;
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 25px;
  padding: 10px 0;
  &:last-of-type {
    margin-bottom: 0;
  }
}

.loading-message {
  color: #999;
  display: none;

  &.visible {
    display: inline-block;
  }
}
