body { background: #fff; color: #333; font-family: "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, sans-serif; font-size: 18px; margin: 0 auto; padding: 40px; width: 920px; }

.upper-bar { margin-bottom: 50px; }
.upper-bar .website-name { font-size: 45px; }
.upper-bar .right { float: right; line-height: 60px; }

.heading-bar { font-size: 25px; line-height: 50px; overflow: auto; }
.heading-bar .label { margin-right: 10px; }
.heading-bar .value { font-weight: bold; }
.heading-bar .drop-down, .heading-bar .search { background: #fff; border: 1px solid #bbb; box-sizing: border-box; font-size: 20px; padding: 10px; height: 45px; }
.heading-bar .drop-down { float: left; }
.heading-bar .search { float: right; }

.partition { overflow: auto; }
.partition .one-third { float: left; width: 300px; }
.partition .one-third .form-1 { width: 100%; }
.partition .two-thirds { float: right; width: 600px; }

.titled-box { border: 1px solid #bbb; box-sizing: border-box; margin-bottom: 20px; width: 100%; }
.titled-box .title { background: #eee; border-bottom: 1px solid #bbb; font-size: 20px; padding: 12px; }
.titled-box .content { padding: 12px; }

.student-session-periods { width: 100%; }
.student-session-periods .hour { padding: 30px 0 10px 0; border-bottom: 3px solid; }
.student-session-periods .hour .time-range { font-size: 25px; font-weight: bold; }
.student-session-periods .hour .begins-in { color: #424242; margin-left: 20px; }
.student-session-periods .tutor { background: #f4f4f4; }
.student-session-periods .tutor td { padding: 10px; }
.student-session-periods .tutor.taking-lesson { background: limegreen !important; }
.student-session-periods .tutor:nth-child(odd) { background: #e7e7e7; }
.student-session-periods .empty-table-message { font-size: 23px; padding-bottom: 50px; }

.simple-menu .title { display: inline-block; font-size: 19px; font-weight: bold; border-bottom: 1px solid #bbb; padding: 13px 0; margin-bottom: 15px; }
.simple-menu .option { color: inherit; cursor: pointer; display: block; margin: 10px 0; text-decoration: underline; }
.simple-menu .option.active { color: #999999; cursor: default; text-decoration: none; }

.form-1 { width: 100%; }
.form-1 input, .form-1 select { box-sizing: border-box; border: 1px solid #bbb; background: #fff; display: block; font: inherit; margin-bottom: 15px; max-width: 350px; padding: 10px; width: 100%; }
.form-1 input.time-range, .form-1 select.time-range { display: inline-block; text-align: center; width: 63px; }
.form-1 input.halved, .form-1 select.halved { display: inline-block; width: 50%; }
.form-1 input.halved:last-of-type, .form-1 select.halved:last-of-type { margin-bottom: 0 !important; }
.form-1 .time-range-label { display: inline-block; margin: 0 9px; }
.form-1 .message-next-line { margin-top: 20px; white-space: nowrap; }
.form-1 .message { line-height: 2; margin-bottom: 10px; }
.form-1 .text { margin-bottom: 10px; }

.tutors-available-hours .hour { height: 70px; padding: 20px; overflow: hidden; position: relative; background: #f4f4f4; }
.tutors-available-hours .hour:nth-child(even) { background: #e7e7e7; }
.tutors-available-hours .hour.empty { color: #bbb; font-weight: normal; }
.tutors-available-hours .hour .student-name { font-size: 23px; font-weight: bold; }
.tutors-available-hours .hour .hour-range { margin-top: 10px; font-weight: bold; font-size: 23px; }
.tutors-available-hours .hour .email { font-size: 16px; color: #999999; margin-bottom: 5px; }
.tutors-available-hours .hour .begins-in { color: #777; font-size: 16px; margin-bottom: 10px; }
.tutors-available-hours .hour .right { position: absolute; right: 20px; top: 20px; }
.tutors-available-hours .hour .right button { float: right; }

.user-list { width: 100%; }
.user-list tr:nth-child(odd) { background: #e7e7e7; }
.user-list tr td { text-align: center; padding: 10px; }
.user-list tr td .email { font-size: 16px; }

.field-validated { box-sizing: border-box; color: #0069ff; display: inline-block; font-size: 16px; font-weight: bold; margin-bottom: 25px; padding: 10px 0; }
.field-validated:last-of-type { margin-bottom: 0; }

.loading-message { color: #999; display: none; }
.loading-message.visible { display: inline-block; }

/*# sourceMappingURL=structure.css.map */
