<div class="centerer">
  <div id="submenu">
    <div id="title">Tutor Account</div>
    {{#link-to 'tutor.account.change-password' class='black-link'}}Change Password{{/link-to}}
    {{#link-to 'tutor.account.profile' class='black-link'}}My Profile{{/link-to}}
    <br>
    <div id="title">Administration</div>
    {{#link-to 'tutor.account.create-privileged-account' class='black-link'}}Create Privileged Account{{/link-to}}
    {{#link-to 'tutor.account.manage-tutors' class='black-link'}}Manage Tutors{{/link-to}}
  </div>
  <div id="submenu-content">
    {{outlet}}
  </div>
</div>