<div class="centerer">
  <div class="titled-box-menu-container">
    <div class="titled-box menu">
      <div class="title">Tutor Dashboard</div>
      <div class="inner">
        {{#link-to 'tutor.account.profile' class='link'}}My Profile{{/link-to}}
        {{#link-to 'tutor.account.change-password' class='link'}}Change Password{{/link-to}}
      </div>
    </div>
    <div class="titled-box menu">
      <div class="title">Admin Dashboard</div>
      <div class="inner">
        {{#link-to 'tutor.account.create-privileged-account' class='link'}}Create Privileged Account{{/link-to}}
        {{#link-to 'tutor.account.manage-tutors' class='link'}}Manage Tutors{{/link-to}}
      </div>
    </div>
  </div>
  <div class="titled-box-container">
    {{outlet}}
  </div>
</div>