<div class="centerer ">
  <div class="titled-box">
    <div class="title">Tutoring Hours</div>
    <div class="content">
      <form class="form-table1" action="">
        <select name="" id="">
          <option value="Monday">Monday</option>
        </select> &NonBreakingSpace;
        <select name="" id="">
          <option value="Monday">9:00</option>
        </select> -
        <select name="" id="">
          <option value="Monday">10:00</option>
        </select>
        <button class="button-green small">Make Hours Available</button>
      </form>
      <form class="form-table1" action="">
            <span>
              <button class="button-green small" disabled>Remove Selected Hours</button><br><br>
            </span>
      </form>
      <table class="table1" cellspacing="0">
        <tr>
          <th></th>
          <th>Student</th>
          <th>Day</th>
          <th>Time</th>
        </tr>
        <tr>
          <td><input type="checkbox" disabled/></td>
          <td>Andreas Stocker (andreas@stockers.org)</td>
          <td>Monday</td>
          <td>9:00 - 100</td>
        </tr>
        <tr>
          <td><input type="checkbox"/></td>
          <td>-</td>
          <td>Monday</td>
          <td>0 / 4</td>
        </tr>
        <tr>
          <td><input type="checkbox"/></td>
          <td>-</td>
          <td>Monday</td>
          <td>0 / 4</td>
        </tr>
      </table>
    </div>
  </div>
</div>