<div class="titled-box">
  <div class="title">Change Schedule</div>
    <div class="content">
      <h2>1) Who will tutor you</h2>
      <div class="content" id="change-schedule">
        <div class="days">
          <div class="day">Mon</div>
          <div class="day">Tue</div>
          <div class="day">Wed</div>
          <div class="day">Thu</div>
          <div class="day">Fri</div>
          <div class="day">Sat</div>
          <div class="day">Sun</div>
        </div>
        <div class="tutor">
          <input type="radio" name="tutor"/>
          Kamal Suleiman
          <div class="time" style="left: 200px">9</div>
          <div class="time" style="left: 205px">9</div>
          <div class="time" style="left: 210px">9</div>
        </div>
        <div class="tutor">
          <input type="radio" name="tutor"/>
          Kamal Suleiman
          <div class="time" style="left: 200px">9</div>
          <div class="time" style="left: 205px">9</div>
          <div class="time" style="left: 210px">9</div>
        </div>
      </div>
      <h2>2) When they will tutor you</h2>
      <table cellspacing="0" class="table1">
        <tr>
          <td><input type="checkbox" name="tutor"/></td>
          <td>Monday</td>
          <td>9:00 - 10:00</td>
        </tr>
        <tr>
          <td><input type="checkbox" name="tutor"/></td>
          <td>Monday</td>
          <td>9:00 - 10:00</td>
        </tr>
        <tr>
          <td><input type="checkbox" name="tutor"/></td>
          <td>Monday</td>
          <td>9:00 - 10:00</td>
        </tr>
      </table>
    </div>
  </div>
</div>