<div class="titled-box">
  <div class="title">Current Schedule</div>
  <div class="content">
    Your tutor is <a class="black-link-ul" href="/tutors#komensky1@komensky.net">Kamel Suleiman</a>
    <h2>Weekly Tutoring Sessions</h2>
    <table cellspacing="0" class="table1">
      <tr>
        <td>Monday</td>
        <td>9:00 - 10:00</td>
      </tr>
      <tr>
        <td>Monday</td>
        <td>9:00 - 10:00</td>
      </tr>
    </table>
  </div>
</div>