<div class="titled-box">
  <div class="title">New Schedule</div>
  <div class="content">
    <a class="black-link-ul" href="">Kamal Suleiman</a> will be your tutor
    <br><br>
    <table cellspacing="0" class="table1 fill">
      <tr>
        <td>Monday</td>
        <td>9:00 - 10:00</td>
      </tr>
    </table><br>
    <button class="button-green">
      Reset
    </button>
    <button class="button-green right">
      Apply Changes
    </button>
  </div>
</div>