<div class="titled-box">
  <div class="title">
    Overview
    {{#link-to 'student.schedule.overview' class='breadcrumb'}}History{{/link-to}}
    {{#link-to 'student.schedule.overview.feedback' class='breadcrumb'}}Feedback{{/link-to}}
  </div>
  <div class="content">
    {{outlet}}
  </div>
</div>