<div class="titled-box">
  <div class="title">New Schedule</div>
  <div class="content">
    You have not selected a tutor yet<br>
    You have selected <a class="black-link-ul" href="">Kamal Suleiman</a> as your tutor
    <h2>Selected Tutoring Hours</h2>
    <table cellspacing="0" class="table1">
      <tr>
        <td><a class="remove" href="">✗</a></td>
        <td>Monday</td>
        <td>9:00 - 10:00</td>
      </tr>
      <tr><td colspan="5" class="empty">Empty</td></tr>
      <tr><td colspan="5" class="empty">Empty</td></tr>
    </table>
  </div>
</div>