<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>eLingua</title>
  <link rel="stylesheet" href="../css/master.css"/>
</head>
<body>
  <div id="upper-area">
    <div class="centerer">
      <span id="website-name">
        eLingua
      </span>
      <span id="website-description">Learn Arabic Online</span>
      <span id="right">
        <a class="black-link" href="/">Home</a>
        <a class="black-link" href="/schedule">Schedule</a>
        <a class="black-link" href="/tutors">Tutors</a>
        <a class="black-link" href="/my-account">Admin Dashboard</a>
        <a class="button-green" href="/sign-up">Sign In</a>
      </span>
    </div>
  </div>
  <div class="centerer">
    <div id="submenu">
      <div id="title">Admin Dashboard</div>
      <a href="">Change my Password</a>
      <a href="">Create Privileged Account</a>
      <a href="" class="active">Manage Tutor Accounts</a>
    </div>
    <div id="submenu-content">
      <div id="page-title">Manage Tutor Accounts</div>
      <form class="form-table1" action="">
        <span>
          <input type="text" placeholder="DELETE"/>
          <button class="button-green small">Delete Selected</button><br>
        </span>
        <input type="text" placeholder="DELETE" disabled/>
        <button class="button-green small" disabled>Delete Selected</button><br>
      </form>
      <table class="table1" cellspacing="0">
        <tr>
          <th></th>
          <th>Tutor Name</th>
          <th>Email Address</th>
          <th>Schedule Hours (Taken / Total)</th>
        </tr>
        <tr>
          <td><input type="checkbox"/></td>
          <td>Kamal Suleiman</td>
          <td>kamal@komensky.net</td>
          <td>0 / 4</td>
        </tr>
        <tr>
          <td><input type="checkbox"/></td>
          <td>Kamal Suleiman</td>
          <td>kamal@komensky.net</td>
          <td>0 / 4</td>
        </tr>
        <tr>
          <td><input type="checkbox"/></td>
          <td>Kamal Suleiman</td>
          <td>kamal@komensky.net</td>
          <td>0 / 4</td>
        </tr>
      </table>
    </div>
  </div>
  <div id="footer">
      Copyright 2014 eLingua
      <span id="author">Website by <b>Andreas Stocker</b></span>
  </div>
</body>
</html>