<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>eLingua</title>
  <link rel="stylesheet" href="../css/master.css"/>
</head>
<body>
  <div id="upper-area">
    <div class="centerer">
      <span id="website-name">
        eLingua
      </span>
      <span id="website-description">Learn Arabic Online</span>
      <span id="right">
        <a class="black-link" href="/">Home</a>
        <a class="black-link" href="/schedule">Schedule</a>
        <a class="black-link" href="/tutors">Tutors</a>
        <a class="black-link" href="/my-account">Admin Dashboard</a>
        <a class="button-green" href="/sign-up">Sign In</a>
      </span>
    </div>
  </div>
  <div class="centerer">
    <div id="submenu">
      <div id="title">Admin Dashboard</div>
      <a href="" class="active">Change my Password</a>
      <a href="">Create Privileged Account</a>
      <a href="">Manage Tutor Accounts</a>
    </div>
    <div id="submenu-content">
      <form class="form2" action="">
        <div id="page-title">Change Password</div>
        <input type="text" placeholder="Old Password"/><br><br>
        <input type="text" placeholder="New Password"/><br>
        <input type="text" placeholder="Repeat new Password"/><br>
        <button class="button-green button-wide">Change Password</button>
      </form>
    </div>
  </div>
  <div id="footer">
      Copyright 2014 eLingua
      <span id="author">Website by <b>Andreas Stocker</b></span>
  </div>
</body>
</html>