<div class="upper-area">
      <span id="website-title">
        eLingua
        <span id="right-area">
          <a class="black-link" href="#/">Home</a>
          <a class="white-button" href="#/sign-up">Sign Up</a>
          <a class="green-button" href="#/sign-in">Sign In</a>
        </span>
      </span>
</div>
<div id="main-content">
  {{outlet}}
</div>