<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>eLingua</title>
  <link rel="stylesheet" href="../css/master.css"/>
</head>
<body>
{{outlet}}
<div id="footer">
  Copyright 2014 eLingua
  <span id="author">Website by <b>Andreas Stocker</b></span>
</div>
</body>
</html>