<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>eLingua</title>
  <link rel="stylesheet" href="../css/master.css"/>
</head>
<body>
<div id="upper-area">
  <div class="centerer">
      <span id="website-name">
        eLingua
      </span>
    <span id="website-description">Learn Arabic Online</span>
      <span id="right">{{outlet menu}}</span>
  </div>
</div>
{{outlet}}
<div id="footer">
  <div class="inner">
    Copyright 2014 eLingua
    <span id="author">Website by <b>Andreas Stocker</b></span>
  </div>
</div>
</body>
</html>