<div id="home-middle">
  <div class="centerer">
    <div id="sign-up">
      <div id="message">
        Don't have an account yet?
        <div id="suggestion">
          Just <b>Sign Up</b> below:
        </div>
      </div>
      <form class="form1" action="">
        <input type="text" placeholder="Full Name"/>
        <input type="text" placeholder="Email Address"/>
        <input type="text" placeholder="Password"/>
        <input type="text" placeholder="Repeat Password"/>
        <button class="button-green button-wide">Sign Up</button>
      </form>
    </div>
    <div id="info">
      <ul>
        <li id="tutors">Live <a href="/tutors" class="white-link">Tutors</a></li>
        <li id="arabic_types">Spoken and Formal Arabic</li>
        <li id="scheduling">An Online <a class="white-link" href="/schedule">Scheduling System</a></li>
        <li id="courses">A Varienty of <a href="#courses" class="white-link">Courses</a></li>
      </ul>
    </div>
  </div>
</div>
<div class="centerer" id="home-lower">
  <h1 id="courses">Courses</h1>
  <h2>Course 1</h2>
  Course Description
  <h2>Course 1</h2>
  Course Description
  <h2>Course 1</h2>
  Course Description
</div>