<form class="large">
  <h1>Sign In</h1>
  <input type="text" placeholder="Email Address"/><br>
  <input type="password" placeholder="Password"/><br>
  <div class="checkbox-area"></div>
  <label><input type="checkbox" class="checkbox-area"/> Stay Signed In</label>
  <button class="green-button" type="submit">Sign In</button>
</form>