<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>eLingua</title>
  <link rel="stylesheet" href="../css/master.css"/>
</head>
<body>
  <div id="upper-area">
    <div class="centerer">
      <span id="website-name">
        eLingua
      </span>
      <span id="website-description">Learn Arabic Online</span>
      <span id="right">
        <a class="black-link" href="/">Home</a>
        <a class="black-link" href="/schedule">Schedule</a>
        <a class="black-link" href="/tutors">Tutors</a>
        <a class="black-link" href="/my-account">Admin Dashboard</a>
        <a class="button-green" href="/sign-up">Sign In</a>
      </span>
    </div>
  </div>
  <div class="centerer">
    <h1> Schedule</h1>
    Your current Tutor is <a class="black-link-ul" href="/tutors#komensky1@komensky.net">Kamel Suleiman</a>
    <h2>Weekly Tutoring Sessions</h2>
    <ul id="schedule-lession-list">
      <li><span class="day">Monday</span> 9:00 - 10:00</li>
      <li><span class="day">Tuesday</span> 9:00 - 10:00</li>
    </ul><br>
    <a class="button-green" href="">Change Schedule</a>
  </div>
  <div id="footer">
      Copyright 2014 eLingua
      <span id="author">Website by <b>Andreas Stocker</b></span>
  </div>
</body>
</html>