<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>eLingua</title>
  <link rel="stylesheet" href="../css/master.css"/>
</head>
<body>
  <div id="upper-area">
    <div class="centerer">
      <span id="website-name">
        eLingua
      </span>
      <span id="website-description">Learn Arabic Online</span>
      <span id="right">
        <a class="black-link" href="/">Home</a>
        <a class="black-link" href="/schedule">Schedule</a>
        <a class="black-link" href="/tutors">Tutors</a>
        <a class="black-link" href="/my-account">Admin Dashboard</a>
        <a class="button-green" href="/sign-up">Sign In</a>
      </span>
    </div>
  </div>
  <div class="centerer">
    <div id="submenu">
      <div id="title">Tutor Account</div>
      <a href="">Change my Password</a>
      <a href="" class="active">My Profile</a>
    </div>
    <div id="submenu-content">
      <div id="page-title">My Profile</div>
      <h2>Upload a Picture</h2>
      <b>Should be 140x140 pixels</b>
      <form action="">
        <input type="file"/>
        <button class="button-green small">Upload</button>
      </form>
      <h2>About Me</h2>
      <form class="form2" action="">
        <textarea name="" id="" cols="30" rows="10"></textarea>
        <button class="button-green small">Submit</button>
      </form>
    </div>
  </div>
  <div id="footer">
      Copyright 2014 eLingua
      <span id="author">Website by <b>Andreas Stocker</b></span>
  </div>
</body>
</html>