<div class="titled-box">
  <div class="title">Create Privileged Account</div>
  <div class="content">
    <form class="form2" action="">
      <select>
        <option value="">Tutor</option>
        <option value="">Tutor + Admin</option>
      </select>
      <input type="email" placeholder="Email Address"/>
      <button class="button-green button-wide">Send Link to Email Address</button>
    </form>
  </div>
</div>