<div id="page-title">Manage Tutor Accounts</div>
<form class="form-table1" action="">
        <span>
          <input type="text" placeholder="DELETE"/>
          <button class="button-green small">Delete Selected</button><br>
        </span>
  <input type="text" placeholder="DELETE" disabled/>
  <button class="button-green small" disabled>Delete Selected</button><br>
</form>
<table class="table1" cellspacing="0">
  <tr>
    <th></th>
    <th>Tutor Name</th>
    <th>Email Address</th>
    <th>Schedule Hours (Taken / Total)</th>
  </tr>
  <tr>
    <td><input type="checkbox"/></td>
    <td>Kamal Suleiman</td>
    <td>kamal@komensky.net</td>
    <td>0 / 4</td>
  </tr>
  <tr>
    <td><input type="checkbox"/></td>
    <td>Kamal Suleiman</td>
    <td>kamal@komensky.net</td>
    <td>0 / 4</td>
  </tr>
  <tr>
    <td><input type="checkbox"/></td>
    <td>Kamal Suleiman</td>
    <td>kamal@komensky.net</td>
    <td>0 / 4</td>
  </tr>
</table>
</div>