<div class="titled-box">
  <div class="title">Manage Tutor Accounts</div>
  <div class="content">
    <form class="form-table1 delete" action="">
      <input type="text" placeholder="DELETE" disabled/>
      <button class="button-green small" disabled>Delete Selected</button>
      <div class="instructions" style="display: none">
        Type "DELETE" in the above field to confirm delete
      </div>
    </form>
    <table class="table1" cellspacing="0">
      <tr>
        <th></th>
        <th>Tutor Name</th>
        <th>Email Address</th>
        <th>Hours Filled</th>
        <th>Hours Empty</th>
        <th>Rating</th>
      </tr>
      <tr>
        <td><input type="checkbox"/></td>
        <td>Kamal Suleiman</td>
        <td>kamal@komensky.net</td>
        <td>0</td>
        <td>0</td>
        <td>Average (2)</td>
      </tr>
      <tr>
        <td><input type="checkbox"/></td>
        <td>Kamal Suleiman</td>
        <td>kamal@komensky.net</td>
        <td>0</td>
        <td>0</td>
        <td>Excellent (2)</td>
      </tr>
      <tr>
        <td><input type="checkbox"/></td>
        <td>Kamal Suleiman</td>
        <td>kamal@komensky.net</td>
        <td>0</td>
        <td>0</td>
        <td>Low (1)</td>
      </tr>
    </table>
  </div>
</div>