<div class="titled-box">
  <div class="title">Profile</div>
  <div class="content">
    <form class="form3" action="">
      <h2>Profile Picture</h2>
      <div class="image-upload-container">
        <img style="width: 140px; height: 140px;" src=""/>
        <div class="right-area">
          <input type="file"/><br>
          <div class="info">
            Must be exactly 140 by 140 pixels
          </div>
        </div>
      </div>
      <h2>About Me</h2>
      <textarea name="" id="" cols="30" rows="10"></textarea>
      <button type="submit" class="button-green">Save Changes</button>
    </form>
  </div>
</div>