<div id="page-title">My Profile</div>
<h2>Upload a Picture</h2>
<b>Should be 140x140 pixels</b>
<form action="">
  <input type="file"/>
  <button class="button-green small">Upload</button>
</form>
<h2>About Me</h2>
<form class="form2" action="">
  <textarea name="" id="" cols="30" rows="10"></textarea>
  <button class="button-green small">Submit</button>
</form>