<div id="lesson-feedback">
  <b>Kamal Suleiman</b> from <b>9:00 - 10:00</b> on <b>Monday, 15 July 2014</b>
  <h2>Quality of the Lesson</h2>
  <form class="form3" action="">
    <select name="" id="">
      <option value="">Excellent</option>
      <option value="">Good</option>
      <option value="">Average</option>
      <option value="">Low</option>
    </select>
    <h2>Additional Comments</h2>
    <textarea placeholder="Optional" name="" id="" cols="30" rows="10"></textarea>
    <button class="button-green" type="submit">Submit Feedback</button>
  </form>
</div>