<h2>Lesson History</h2>
<div id="lesson-history">
  <b>We really appreciate your feedback!</b>
  <div class="feedback-count"><b>1</b> of <b>2</b> Lessons have feedback</div>
  <table cellspacing="0" class="table1 fill">
    <tr>
      <td>Kamal Suleiman</td>
      <td>9:00 - 10:00</td>
      <td>Monday, 15 July 2014</td>
      <td><button class="button-green small right">Feedback</button></td>
    </tr>
    <tr>
      <td>Kamal Suleiman</td>
      <td>9:00 - 10:00</td>
      <td>Monday, 15 July 2014</td>
      <td><button class="button-green small right">Add Feedback</button></td>
    </tr>
  </table>
</div>